{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"semi":"off",
		"quotes":"off",
		"linebreak-style":"off",
		"require-jsdoc": "off",
		"object-curly-spacing":"off",
		"max-len":"off",
		"no-tabs":"off"
	},
	"extends": ["eslint:recommended", "google"]
}